<ng-container *ngIf="sponsorships; else noDataFound" >
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort class="w-100 mt-3">
      
            <!-- Banner Column -->
            <ng-container matColumnDef="banner">
                <th mat-header-cell *matHeaderCellDef> {{'sponsorship.banner' | translate}} </th>
                <td mat-cell *matCellDef="let element"> <img src="{{element.banner[0]}}"></td>
            </ng-container>
    
            <!-- Price Column -->
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'sponsorship.price' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.price}} </td>
            </ng-container>
    
            <!-- Name Trip Column -->
            <ng-container matColumnDef="nameTrip">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'sponsorship.Trip' | translate}} </th>
                <td mat-cell *matCellDef="let element"><a mat-button routerLink="/trips/{{element.trip_id}}">{{element.nameTrip}}</a>  </td>
            </ng-container>
    
            <!-- Date Column -->
            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'sponsorship.createdAt' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.createdAt | date: 'dd/MM/yyyy'}} </td>
            </ng-container>

            <!-- Link Column -->
            <ng-container matColumnDef="link">
                <th mat-header-cell *matHeaderCellDef> {{'sponsorship.link' | translate}} </th>
                <td mat-cell *matCellDef="let element"> <a [href]="element.link" target="_blank"><i class="fa fa-eye"></i></a>  </td>
            </ng-container>

            <!-- Payed Column -->
            <ng-container matColumnDef="payed">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'sponsorship.payed' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.payed}} </td>
            </ng-container>

            <!-- Edit Column -->
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef> {{'messages.update' | translate}} </th>
                <td mat-cell *matCellDef="let element"> 
                    <button mat-mini-fab color="primary" (click)="onEdit(element._id)" aria-label="Example icon button with an edit icon">
                        <mat-icon>border_color</mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- Cancel Column -->
            <ng-container matColumnDef="cancel">
                <th mat-header-cell *matHeaderCellDef> {{'messages.delete' | translate}} </th>
                <td mat-cell *matCellDef="let element"> 
                    <button mat-mini-fab color="warn" [disabled]="element.payed" aria-label="Example icon button with a delete icon" (click)="cancelSponsorship(element._id, element.nameTrip)">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </td>
            </ng-container>   
      
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</ng-container>
<ng-template #noDataFound>
    <h1>
        {{'errorMessages.sponsorship.not.found' | translate}}
    </h1>
</ng-template>
