.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

td {
    padding-right: 8px;
}

div.center {
    display: flex;
    justify-content: center;
}

.img {
    width: 50%;
    height: 50%;
}