<ng-container *ngIf="trip; else noDataFound" >
    <div class="card">
        <div class="card-header">
            {{trip.title}}
        </div>
        <img class="card-img-top" src="{{trip.pictures[0]}}" alt="Image trip">
        <div class="card-body">
            <h3 class="card-title">{{'trip.ticker' | translate}}</h3>
            <h5 class="card-subtitle text-muted">{{trip.ticker}}</h5>

            <h3 class="card-title">{{'trip.start' | translate}} - {{'trip.end' | translate}}</h3>
            <h5 class="card-subtitle text-muted">{{trip.start | date: 'dd/MM/yyyy'}} - {{trip.end | date: 'dd/MM/yyyy'}}</h5>
            
            <h3 class="card-title">{{'trip.stages' | translate}}</h3>
            <div *ngFor="let stage of trip.stages">
                <h5 class="card-subtitle text-muted">{{stage.title}}: {{stage.description}}</h5>
                <h5 class="card-subtitle text-muted">{{'trip.price' | translate}}: {{stage.price}}€</h5>
            </div>

            <h3 class="card-title">{{'trip.requirements' | translate}}</h3>
            <ul *ngFor="let requirement of trip.requirements">
                <li><h5 class="card-subtitle text-muted">{{requirement}}</h5></li>
            </ul>

            <h3 class="card-title">{{'trip.price' | translate}}</h3>
            <h5 class="card-subtitle text-muted">{{trip.price}} €</h5>
        </div>
    </div>
</ng-container>
<ng-template #noDataFound>
    <h1>
        {{'errorMessages.trip.not.found' | translate}}
    </h1>
</ng-template>