<ng-container *ngIf="dashboard; else noDataFound" >
    <div class="card">
        <div class="card-header">
            {{'dashboard.title' | translate}}
        </div><!--
        <div class="card-body">
            <h3 class="card-title">{{'dashboard.statsNumberTripsByManager' | translate}}</h3>
            <h5 class="card-subtitle text-muted">{{'dashboard.avg' | translate}} {{dashboard.statsNumberTripsByManager.avg}}</h5>
            <h5 class="card-subtitle text-muted">{{'dashboard.min' | translate}} {{dashboard.statsNumberTripsByManager.min}}</h5>
            <h5 class="card-subtitle text-muted">{{'dashboard.max' | translate}} {{dashboard.statsNumberTripsByManager.max}}</h5>
            <h5 class="card-subtitle text-muted">{{'dashboard.stdDeviation' | translate}} {{dashboard.statsNumberTripsByManager.stdDeviation}}</h5>

            <h3 class="card-title">{{'dashboard.statsNumberApplicationByTrips' | translate}}</h3>
            <h5 class="card-subtitle text-muted">{{'dashboard.avg' | translate}} {{dashboard.statsNumberApplicationByTrips.avg}}</h5>
            <h5 class="card-subtitle text-muted">{{'dashboard.min' | translate}} {{dashboard.statsNumberApplicationByTrips.min}}</h5>
            <h5 class="card-subtitle text-muted">{{'dashboard.max' | translate}} {{dashboard.statsNumberApplicationByTrips.max}}</h5>
            <h5 class="card-subtitle text-muted">{{'dashboard.stdDeviation' | translate}} {{dashboard.statsNumberApplicationByTrips.stdDeviation}}</h5>

            <h3 class="card-title">{{'dashboard.statsPriceByTrips' | translate}}</h3>
            <h5 class="card-subtitle text-muted">{{'dashboard.avg' | translate}} {{dashboard.statsPriceByTrips.avg}}</h5>
            <h5 class="card-subtitle text-muted">{{'dashboard.min' | translate}} {{dashboard.statsPriceByTrips.min}}</h5>
            <h5 class="card-subtitle text-muted">{{'dashboard.max' | translate}} {{dashboard.statsPriceByTrips.max}}</h5>
            <h5 class="card-subtitle text-muted">{{'dashboard.stdDeviation' | translate}} {{dashboard.statsPriceByTrips.stdDeviation}}</h5>

            <h3 class="card-title">{{'dashboard.ratioApplicationsByStatus' | translate}}</h3>
            <h5 class="card-subtitle text-muted">{{'dashboard.avg' | translate}} {{dashboard.ratioApplicationsByStatus.avg}}</h5>
            <h5 class="card-subtitle text-muted">{{'dashboard.min' | translate}} {{dashboard.ratioApplicationsByStatus.min}}</h5>
            <h5 class="card-subtitle text-muted">{{'dashboard.max' | translate}} {{dashboard.ratioApplicationsByStatus.max}}</h5>
            <h5 class="card-subtitle text-muted">{{'dashboard.stdDeviation' | translate}} {{dashboard.ratioApplicationsByStatus.stdDeviation}}</h5>

            <h3 class="card-title">{{'dashboard.statsAveragePriceInFinders' | translate}}</h3>
            <h5 class="card-subtitle text-muted">{{'dashboard.avg' | translate}} {{dashboard.statsAveragePriceInFinders.avg}}</h5>
            <h5 class="card-subtitle text-muted">{{'dashboard.min' | translate}} {{dashboard.statsAveragePriceInFinders.min}}</h5>
            <h5 class="card-subtitle text-muted">{{'dashboard.max' | translate}} {{dashboard.statsAveragePriceInFinders.max}}</h5>
            <h5 class="card-subtitle text-muted">{{'dashboard.stdDeviation' | translate}} {{dashboard.statsAveragePriceInFinders.stdDeviation}}</h5>

            <h3 class="card-title">{{'dashboard.statsTopKeyWords' | translate}}</h3>
            <h5 class="card-subtitle text-muted">{{'dashboard.avg' | translate}} {{dashboard.statsTopKeyWords.avg}}</h5>
            <h5 class="card-subtitle text-muted">{{'dashboard.min' | translate}} {{dashboard.statsTopKeyWords.min}}</h5>
            <h5 class="card-subtitle text-muted">{{'dashboard.max' | translate}} {{dashboard.statsTopKeyWords.max}}</h5>
            <h5 class="card-subtitle text-muted">{{'dashboard.stdDeviation' | translate}} {{dashboard.statsTopKeyWords.stdDeviation}}</h5>

            
        </div>-->
    </div>
</ng-container>
<ng-template #noDataFound>
    <h1>
        {{'errorMessages.dashboard.not.found' | translate}}
    </h1>
</ng-template>
